In [1]:
import pandas as pd

In [8]:
save_path = 'D:/Programs/Fine_Tunning_Models_FTM/dataviz/cleaned_dataset/PLMarch_Data'

In [4]:
df = pd.read_csv('D:/Programs/Fine_Tunning_Models_FTM/dataviz/cleaned_dataset/Cleaned_PLMarch.csv')
df.head()

,index,Sku,Catalog,Category,Weight,TP 1,TP 2,MRP Old,Final MRP Old,Ajio MRP,Amazon MRP,Amazon FBA MRP,Flipkart MRP,Limeroad MRP,Myntra MRP,Paytm MRP,Snapdeal MRP
0,0,S,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
1,1,M,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
2,2,L,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
3,3,XL,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
4,4,2XL,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295

In [12]:
#df.groupby('Sku')['Catalog'].value_counts().to_json(f'{save_path}/Sku_Catalog.json')
df.groupby('Sku')['Catalog'].value_counts().unstack().fillna(0).to_csv(f'{save_path}/Sku_Catalog.csv')