In [3]:
import pandas as pd

In [2]:
save_path = 'D:/Programs/Fine_Tunning_Models_FTM/dataviz/cleaned_dataset/PLMarch_Data'

In [4]:
df = pd.read_csv('D:/Programs/Fine_Tunning_Models_FTM/dataviz/cleaned_dataset/Cleaned_PLMarch.csv')
df.head()

,index,Sku,Catalog,Category,Weight,TP 1,TP 2,MRP Old,Final MRP Old,Ajio MRP,Amazon MRP,Amazon FBA MRP,Flipkart MRP,Limeroad MRP,Myntra MRP,Paytm MRP,Snapdeal MRP
0,0,S,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
1,1,M,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
2,2,L,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
3,3,XL,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
4,4,2XL,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295

In [12]:
#df.groupby('Sku')['Catalog'].value_counts().to_json(f'{save_path}/Sku_Catalog.json')
df.groupby('Sku')['Catalog'].value_counts().unstack().fillna(0).to_csv(f'{save_path}/Sku_Catalog.csv')

In [35]:

d = df.groupby('Sku')['Catalog'].value_counts()#.to_json()

In [37]:

df['Sku'].unique()

,index,Sku,Catalog,Category,Weight,TP 1,TP 2,MRP Old,Final MRP Old,Ajio MRP,Amazon MRP,Amazon FBA MRP,Flipkart MRP,Limeroad MRP,Myntra MRP,Paytm MRP,Snapdeal MRP
0,0,S,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
1,1,M,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
2,2,L,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
3,3,XL,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
4,4,2XL,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,1325,M,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1217,1326,L,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1218,1327,XL,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1219,1328,2XL,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1220,1329,3XL,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995

In [53]:
sku = df['Sku'].unique()
cat = df['Catalog'].unique()

sku_cat = {}

for s in sku:
    sku_cat[s] = {}
    for c in cat:
        sku_cat[s][c] = df[(df['Sku'] == s) & (df['Catalog'] == c)]['Catalog'].value_counts().sum()

In [59]:
sku_cat

{'S': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 132,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'M': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 134,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'L': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 135,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 133,
  'Surmaya': 32,
  'Four Gems 2': 4},
 '2XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 124,
  'Surmaya': 32,
  'Four Gems 2': 4},
 '3XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 120,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'XS': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 1,
  'Mix': 14,
  'Surmaya': 0,
  'Four Gems 2': 0},
 '2XLL': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 0,
  'Mix': 1,
  'Surmaya': 0,
  'Four Gems 2': 0},
 'MM': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 0,
  'Mix': 1,
  'Surmaya': 0,
  'Four Gems 2': 0}}

In [65]:
data = {k: {k2: int(v2) for k2, v2 in v.items()} for k, v in sku_cat.items()}
data

{'S': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 132,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'M': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 134,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'L': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 135,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 133,
  'Surmaya': 32,
  'Four Gems 2': 4},
 '2XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 124,
  'Surmaya': 32,
  'Four Gems 2': 4},
 '3XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 120,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'XS': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 1,
  'Mix': 14,
  'Surmaya': 0,
  'Four Gems 2': 0},
 '2XLL': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 0,
  'Mix': 1,
  'Surmaya': 0,
  'Four Gems 2': 0},
 'MM': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 0,
  'Mix': 1,
  'Surmaya': 0,
  'Four Gems 2': 0}}

In [67]:
data = {k: {k2: int(v2) for k2, v2 in v.items()} for k, v in sku_cat.items()}
data

{'S': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 132,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'M': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 134,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'L': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 135,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 133,
  'Surmaya': 32,
  'Four Gems 2': 4},
 '2XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 124,
  'Surmaya': 32,
  'Four Gems 2': 4},
 '3XL': {'Moments': 6,
  'Colors-8': 8,
  'Breeze-4': 6,
  'Rozana': 8,
  'Colors-7': 7,
  'Mix': 120,
  'Surmaya': 32,
  'Four Gems 2': 4},
 'XS': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 1,
  'Mix': 14,
  'Surmaya': 0,
  'Four Gems 2': 0},
 '2XLL': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 0,
  'Mix': 1,
  'Surmaya': 0,
  'Four Gems 2': 0},
 'MM': {'Moments': 0,
  'Colors-8': 0,
  'Breeze-4': 0,
  'Rozana': 0,
  'Colors-7': 0,
  'Mix': 1,
  'Surmaya': 0,
  'Four Gems 2': 0}}

In [68]:
flare = {"name": "flare", "children": []}

for key, value in data.items():
    children = [{"name": k, "value": v} for k, v in value.items()]
    flare["children"].append({"name": key, "children": children})

In [69]:
flare

{'name': 'flare',
 'children': [{'name': 'S',
   'children': [{'name': 'Moments', 'value': 6},
    {'name': 'Colors-8', 'value': 8},
    {'name': 'Breeze-4', 'value': 6},
    {'name': 'Rozana', 'value': 8},
    {'name': 'Colors-7', 'value': 7},
    {'name': 'Mix', 'value': 132},
    {'name': 'Surmaya', 'value': 32},
    {'name': 'Four Gems 2', 'value': 4}]},
  {'name': 'M',
   'children': [{'name': 'Moments', 'value': 6},
    {'name': 'Colors-8', 'value': 8},
    {'name': 'Breeze-4', 'value': 6},
    {'name': 'Rozana', 'value': 8},
    {'name': 'Colors-7', 'value': 7},
    {'name': 'Mix', 'value': 134},
    {'name': 'Surmaya', 'value': 32},
    {'name': 'Four Gems 2', 'value': 4}]},
  {'name': 'L',
   'children': [{'name': 'Moments', 'value': 6},
    {'name': 'Colors-8', 'value': 8},
    {'name': 'Breeze-4', 'value': 6},
    {'name': 'Rozana', 'value': 8},
    {'name': 'Colors-7', 'value': 7},
    {'name': 'Mix', 'value': 135},
    {'name': 'Surmaya', 'value': 32},
    {'name': 'Four Gems 2', 'value': 4}]},
  {'name': 'XL',
   'children': [{'name': 'Moments', 'value': 6},
    {'name': 'Colors-8', 'value': 8},
    {'name': 'Breeze-4', 'value': 6},
    {'name': 'Rozana', 'value': 8},
    {'name': 'Colors-7', 'value': 7},
    {'name': 'Mix', 'value': 133},
    {'name': 'Surmaya', 'value': 32},
    {'name': 'Four Gems 2', 'value': 4}]},
  {'name': '2XL',
   'children': [{'name': 'Moments', 'value': 6},
    {'name': 'Colors-8', 'value': 8},
    {'name': 'Breeze-4', 'value': 6},
    {'name': 'Rozana', 'value': 8},
    {'name': 'Colors-7', 'value': 7},
    {'name': 'Mix', 'value': 124},
    {'name': 'Surmaya', 'value': 32},
    {'name': 'Four Gems 2', 'value': 4}]},
  {'name': '3XL',
   'children': [{'name': 'Moments', 'value': 6},
    {'name': 'Colors-8', 'value': 8},
    {'name': 'Breeze-4', 'value': 6},
    {'name': 'Rozana', 'value': 8},
    {'name': 'Colors-7', 'value': 7},
    {'name': 'Mix', 'value': 120},
    {'name': 'Surmaya', 'value': 32},
    {'name': 'Four Gems 2', 'value': 4}]},
  {'name': 'XS',
   'children': [{'name': 'Moments', 'value': 0},
    {'name': 'Colors-8', 'value': 0},
    {'name': 'Breeze-4', 'value': 0},
    {'name': 'Rozana', 'value': 0},
    {'name': 'Colors-7', 'value': 1},
    {'name': 'Mix', 'value': 14},
    {'name': 'Surmaya', 'value': 0},
    {'name': 'Four Gems 2', 'value': 0}]},
  {'name': '2XLL',
   'children': [{'name': 'Moments', 'value': 0},
    {'name': 'Colors-8', 'value': 0},
    {'name': 'Breeze-4', 'value': 0},
    {'name': 'Rozana', 'value': 0},
    {'name': 'Colors-7', 'value': 0},
    {'name': 'Mix', 'value': 1},
    {'name': 'Surmaya', 'value': 0},
    {'name': 'Four Gems 2', 'value': 0}]},
  {'name': 'MM',
   'children': [{'name': 'Moments', 'value': 0},
    {'name': 'Colors-8', 'value': 0},
    {'name': 'Breeze-4', 'value': 0},
    {'name': 'Rozana', 'value': 0},
    {'name': 'Colors-7', 'value': 0},
    {'name': 'Mix', 'value': 1},
    {'name': 'Surmaya', 'value': 0},
    {'name': 'Four Gems 2', 'value': 0}]}]}

In [70]:
import json
# Convert int64 values to regular integers
data = {k: {k2: int(v2) for k2, v2 in v.items()} for k, v in sku_cat.items()}
#data = sku_cat

# Specify the file path where you want to save the JSON file
file_path = "SKU_CATALOG.json"

# Save the dictionary as a JSON file
with open(file_path, "w") as json_file:
    json.dump(flare, json_file)